* {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    width: 100%;
    font-size: 24px;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

.title-m {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    float: left;
}

.title-s {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
    float: left;
}

main {
    background-color: #f8f8f8;
    padding: 45px 34px 90px 34px;
    height: auto;
}

.title-main {
    width: 100%;
    font-size: 18px;
    padding: 18px 0;
    margin-bottom: 0px;
    background-color: rgb(181, 204, 164);
    color: rgb(0, 0, 0);
    text-align: center;
    font-family: 'Kaisei Decol', serif;
    user-select: none;
    border-bottom: 8px solid #242424;
}

.material-icons.sobal {
    font-size: 70px;
}

h2 {
    font-size: 30px;
    margin: 30px 0px;
}

ul {
    margin: 0px 20px;
    padding: 0px;
    list-style: none;
}

li {
    padding: 6px;
}

.content_name {
    font-size: 20px;
    font-weight: bold;
}

.link-list a{
    padding: 0px;
    margin: 0px;
    font-size: 22px;
    color:rgb(0, 0, 0);
    text-decoration-color: #82dd90cc;
    text-decoration-line: underline;
    text-decoration-thickness: 12px;
    text-underline-offset: -5px;
    text-decoration-skip-ink: none;
}

.link-list p{
    margin: 10px 0px;
    padding: 5px;
    font-size: 17px;
}

.nazoimg {
    display: flex;
    margin: 25px 0px;
}

.ball:hover {
    opacity: 0.7;
}

span {
    display: block;
    padding: 15px 20px;
    font-size: 18px;
    line-height: 135%;
}

hr {
    margin: 30px auto;
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 100px 0 16px 0;
    background-color: #242424;
    color:white;
}