* {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    width: 100%;
    font-size: 24px;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

.title-m {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    float: left;
}

.title-s {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
    float: left;
}

main {
    background-color: #f8f8f8;
    padding: 50px 34px 90px 34px;
    height: 550px;
}

.title-main {
    padding: 30px 0;
    margin-bottom: 70px;
    background-color: rgb(192, 224, 176);
    text-align: center;
}

h3 {
    margin: 20px 0;
}

h2 {
    margin: 20px 0;
}

ul {
    margin: 0 20px;
}

hr {
    margin: 30px auto;
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 100px 0 16px 0;
    background-color: #37373b;
    color:white;
}