body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
}

.input-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

label {
    margin-right: 10px;
}

input[type="text"] {
    width: 200px;
    padding: 5px;
    font-size: 16px;
}

button {
    margin-left: 10px;
    padding: 5px;
    font-size: 16px;
}

#result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 50px;
}

#result {
    font-size: 24px;
}
