* {
    padding: 0;
    margin: 0;
}

@media screen and (max-width:480px) {
    .tango {
        font-size: 18px;
    }
    main {
        padding: 60px 10px 90px 10px;
    }
}

header {
    height: 56px;
    width: 100%;
    font-size: 24px;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

.title-m {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    float: left;
}

.title-s {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
    float: left;
}

main {
    background-color: #f8f8f8;
    padding: 60px 90px 90px 90px;
    height: 550px;
    text-align: center;
}

h1 {
    margin: 20px 0;
}

.text-sub {
    padding: 48px 0px 24px 0px;
}

.tango {
    background-color: rgb(201, 201, 201);
    padding: 40px 3px;
    font-size: 24px;
    margin: 10px 10px;
}

#tango {
    width: auto;
    text-align: center;
}


.btn {
    padding: 24px 60px;
    margin: 40px 0;
    display: inline-block;
    color: rgb(255, 255, 255);
    opacity: 1.0;
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
}

.btn:hover {
    opacity: 0.8;
}

.pushtest {
    background-color: rgb(107, 107, 107);
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 100px 0 16px 0;
    background-color: #37373b;
    color:white;
}