* {
    padding: 0;
    margin: 0;
    font-family: "Kosugi Maru", sans-serif;
    /* font-family: 'M PLUS Rounded 1c', sans-serif; */
}

header {
    height: 56px;
    width: 100%;
    font-size: 24px;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

.title-m {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    float: left;
}

.title-s {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
    float: left;
}

main {
    background-color: #f8f8f8;
    padding: 20px 60px 25px 60px;
    height: auto;
    text-align: center;
}

h1 {
    margin: 0;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.text-sub {
    padding: 10px 0px 10px 0px;
    margin-top: 24px;
    line-height: 160%;
}

#ball:active{
    transition: transform 0.3s;
    transform: scale(1.4);

}

#tango-container {
    background-color: rgb(201, 201, 201);
    padding: 40px 3px;
    margin-top: 20px;
    width: auto;
    text-align: center;
    font-size: 32px;

}

.tango-aux {
    background-color: rgb(201, 201, 201);
    padding: 21px 0px;
    font-size: 21px;
    margin: 0px 100px 20px 100px;
    font-family: "Kosugi Maru", sans-serif;
}

.twitter-share-button {
    margin: 16px 0px 0px 0px;
}

.btn {
    padding: 16px 60px;
    margin: 20px 0;
    display: inline-block;
    color: rgb(255, 255, 255);
    opacity: 1.0;
    cursor: pointer;
    border-radius: 12px;
    user-select: none;
}

.btn:hover {
    opacity: 0.8;
}

.pushGen {
    background-color: rgb(107, 107, 107);
    font-size: 28px;
    font-family: 'M PLUS Rounded 1c', sans-serif;
}

.pushGen:active{
    background-color: rgb(59, 59, 59);
    color:#c2c2c2;
}

.lab01 {
    /* float: left; */
    background-color: rgb(145, 138, 138);
    padding: 7px 0px;
    font-size: 15px;
    margin: 0px 100px;
    text-align: center;
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 70px 0 16px 0;
    background-color: #242424;
    color:white;
    margin: 10px 0px 0px 0px;
}

.twShare {
    text-align: center;
    margin: 5px 0px 40px 0px;
    user-select:none;

}

.twShare:hover {
    opacity: 0.85;
}

.twShare button {
    text-align: end;
    border: none;
    font-size: 16px;
    background-color: #1DA1F2;
    padding: 6px 16px;
    border-radius: 100vh;
    color: white;
}

.twShare button:active {
    background-color: #14699e;
}

i.fa-twitter {
    font-size: 20px;
}

h2 {
    margin-top: 80px;
}

#description {
    margin-top: 10px;
}

#muimipic {
    padding: 5px;
    background-color: #1e597e;
    margin-top: 40px;
}

.analogue {
    margin: 30px 60px 0px 60px;
    background-color: rgb(243, 243, 243);
    border: dashed 2px rgb(155, 153, 153);
    padding: 20px 0px 40px 0px;
}

.content_name {
    margin-top: 30px;
    font-size: 18px;
    font-weight: bold;
    display: block;
    color: black;
    text-decoration: none;
    text-decoration-color: #82dd90cc;
    text-decoration-line: underline;
    text-decoration-thickness: 12px;
    text-underline-offset: -5px;
    text-decoration-skip-ink: none;
}

@media screen and (max-width:480px) {
    .tango {
        font-size: 24px;
    }
    main {
        padding: 20px 10px 90px 10px;
    }
    .ball {
        width: 100px;
        height: 100px;
    }
    h1 {
        font-size: 26px;
    }
    .text-sub {
        font-size: 14px;
    }
    .tango-aux {
        margin: 0px 30px 20px 30px;
        font-size: 18px;
    }
    .lab01 {
        margin: 0px 30px 0px 30px;
    }
}
