* {
    padding: 0;
    margin: 0;
}

header {
    height: 56px;
    width: 100%;
    font-size: 24px;
    color:rgb(255, 255, 255);
    background-color: rgb(36, 36, 36);
}

footer {
    width: 100%;
    font-size: 14px;
    text-align: center;
    padding: 70px 0 16px 0;
    background-color: #242424;
    color:white;
    margin: 10px 0px 0px 0px;
}

.title-m {
    text-decoration: none;
    color:rgb(255, 255, 255);
    padding: 16px;
    float: left;
}

.title-s {
    padding: 24px 0px 16px 0px;
    font-size: 16px;
    float: left;
}

main {
    /* background-color: #ffddc7; */
    margin: 20px;
    padding: 20px 20px 25px 20px;
    height: auto;
    /* text-align: center; */
}

h1 {
    /* background-color: rgb(226, 226, 226); */
    padding: 0px;
    margin: 20px 0px;
    /* text-decoration: 12px underline rgb(252, 118, 66); */
}

.introduction-text {
    padding: 10px 0px;
}

.dictionary {
    /* background-color: #3b553c; */
    border: 2px solid black;
    padding: 0px;
    margin-top: 20px;
    
}

#preface {
    padding: 20px 0;
    margin-top: 20px;
    font-size: 25px;
}

.newword {
    padding: 20px 5px;
    margin: 0px;
    font-size: 30px;
    font-weight: bold;
    font-family: 'M PLUS 2', sans-serif;
    background-color: #ffc08d;
    /* text-decoration: 5px underline; */
    border-bottom: 3px solid #000;
}

#explanatoryText {
    font-size: 25px;
    padding: 20px 20px;
    /* border: 2px solid black; */
}

button {
    margin-top: 25px;
    padding: 18px 60px;
    font-size: 20px;
    font-family: sans-serif;
    font-weight: bold;
    background-color: #e75c0c;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    user-select:none;
}

button:hover {
    background-color: #c95410;
}

button:active {
    background-color: #a05500;
}

.arrow-down {
    margin: 20px;
    width: 0px;
    height: 0px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 15px solid #000;
    display: inline-block;
}

@media screen and (max-width:480px) {
    main {
        padding: 10px;
    }
    h1 {
        font-size: 160%;
    }
    .contents {
        font-size: 90%;
    }
    #newword {
        font-size: 130%;
    }
    #explanatoryText {
        font-size: 130%;
    }
    #preface {
        font-size: 150%;
    }
}